@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  height: 100vh;
}

/* Intro Section */
.intro-col {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-row {
  height: 10%;
  display: flex;
  align-items: center;
}

.intro-row {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: row;
}

.side-col {
  width: 10%;
}

.middle-col {
  flex-direction: column;
  /* border: 1px solid white; */
  width: 80%;
  overflow-y: auto;
  /* height: 100%; */
}

.middle-col::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.projects-row-wrapper {
  height: 100%;
}

.projects-row {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  flex-direction: column;
}

.projects-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.projects-col {
  flex-direction: column;
  /* border: 1px solid white; */
  width: 80%;
  overflow-y: auto;
  /* height: 100%; */
}

.projects-col::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.project-card {
  background: rgba(42, 43, 56, 0.3);
  border: 2px solid #2a2b37;
  border-radius: 60px; /* Curved edges */
  padding: 30px 10px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 740px;
  /* justify-content: center; */
  height: 420px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.card-img {
  border: 1px solid gold;
  width: 45%;
  border-radius: 40px;
  flex-shrink: 0;
  height: 100%;
  /* display: flex; */
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.lan {
  width: 355px;
  height: 100%;
  transform: rotate(270deg);
  /* transform-origin: left top; */
  margin-left: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-weight: 100;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  width: 48px;
  height: 48px;
  margin-top: 16px;
  border: 1px solid skyblue;
  border-radius: 50%;
}

/* .about-row {
  height: 36%;
  display: flex;
  align-items: flex-end;
} */

/* 
.creation-span {
  animation: colorTransition 12s infinite;
} */

@keyframes colorTransition {
  0% {
    color: #ff0066; /* Pinkish color */
  }
  50% {
    color: skyblue; /* Sky blue color */
  }
  100% {
    color: #ff0066; /* Back to pinkish color */
  }
}

.concept-span {
  display: inline-block;
}

.creation-span {
  display: inline-block;
  animation: colorTransition 8s infinite;
}

/* Min Width 801px and Max Width 1634px */
@media (min-width: 801px) and (max-width: 1634px) {
  .side-col {
    width: 0%;
  }

  .middle-col {
    width: 100%;
    border: 1px solid white;
  }

  .social-icons {
    display: none;
  }
}

/* Min Width 401px and Max Width 700px */
@media (min-width: 401px) and (max-width: 700px) {
  .side-col {
    width: 0%;
  }

  .middle-col {
    width: 100%;
    border: 1px solid white;
  }

  .social-icons {
    display: none;
  }
}

/* 400 px Max Width and 800px  Height */
@media (max-width: 400px) and (max-height: 800px) {
  .side-col {
    width: 0%;
  }

  .middle-col {
    width: 100%;
    border: 1px solid white;
  }

  .social-icons {
    display: none;
  }
}


/* Max width less than 1691px */
/* @media (min-width: 1411px) and (max-width: 1694px) {
  .intro-p {
    font-size: 56px;
    width: 600px;
  }

  .hello-world {
    color: white;
    width: 450px;
    font-size: 14px;
  }

  .headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .khiba {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  .social-icons {
    width: 36px;
    height: 36px;
    margin-top: 16px;
    border: 1px solid skyblue;
    border-radius: 50%;
  }
} */

/* Max width less than 1410px */
/* @media (max-width: 1410px) {
  .side-col {
    width: 7%;
  }

  .middle-col {
    width: 86%;
  }

  .p-col {
    width: 45%;
  }

  .p2-col {
    width: 55%;
  }

  .intro-p {
    font-size: 56px;
    width: 600px;
  }

  .hello-world {
    color: white;
    width: 450px;
    font-size: 14px;
  }

  .headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .khiba {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  .social-icons {
    width: 36px;
    height: 36px;
    margin-top: 16px;
    border: 1px solid skyblue;
    border-radius: 50%;
  }
} */

/* Max height *871px */
/* @media (max-height: 871px) {
  .headshot-row {
    padding-top: 88px;
    height: 78%;
    display: flex;
    justify-content: center;
  }
  .skills {
    height: 10%;
  }
} */

/* Max height 721px */
/* @media (max-height: 712px) {
  .intro-p {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .headshot-row {
    padding-top: 88px;
    height: 78%;
    display: flex;
    justify-content: center;
  }
  .skills {
    height: 10%;
  }
} */

/* Max height 412px */
/* @media (max-width: 412px) {
  .side-col {
    display: none;
  }

  .middle-col {
    width: 100%;
  }

  .nav-row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .navbar {
    width: 100%;
  }

  .nav-links {
    font-size: 12px;
  }

  .upper-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .p-col {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
  }

  .intro-p {
    font-size: 30px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }

  .hello-world {
    height: 50%;
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
  }

  .p2-col {
    border: 1px solid red;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .headshot-row {
    border: 1px solid blue;
    height: 50%;
    padding-top: 0px;
  } */

/* .headshot {
    display: none; */
/* width: 120px;
    height: 120px; */
/* } */

/* .skills {
    border: 1px solid white;
    height: 50%;  
  }
} */

/* @media (max-height: 656px) { */

/* .about-row { */
/* width: 100%; */
/* display: flex; */
/* flex-direction: column; */
/* overflow-y: scroll; */
/* height: 100%; */
/* border: 1px solid white;
  }
  
  .upper-row {
    display: flex;
    flex-direction: row;
    height: 0%;
    border: 1px solid white;
  }
  
  .lower-row {
    height: 30%;
    padding-top: 100px;
    border: 1px solid white;
  }

} */
